@media(min-width:1400px) and (max-width:1920px) {
}
@media(max-width:1600px) {
.info-office {
	padding: 0px;
}
}
@media(min-width:1200px) and (max-width:1400px) {
.latest-work .col-4 .item.filter-home {
	width: 100%;
}
.latest-work .col-4 .item.filter-home li {
	display: inline-block;
	width: auto;
}
.latest-work .col-4 .item.filter-home li a {
	padding: 0 10px;
	margin-top: -2px;
}
.latest-work .position-center-center {
	width: 100%;
	text-align: center;
}
.latest-work .filter {
	min-height: auto;
	height: 80px;
}
.fst-up {
	margin-top: 0px;
}
}
@media(max-width:1024px) {
.fst-up {
	margin-top: -100px;
}
.sub-space {
	padding-left: 0px;
}
}
@media(min-width:992px) and (max-width:1199px) {
.top-info-con ul li {
	width: 27%;
}
.fst-up {
	margin-top: 0px;
}
.top-info-con ul li {
	float: left;
}
.top-info-con {
	width: 67%;
}
header .logo:after {
	right: -100px;
}
header .search-nav ul.dropdown {
	width: 100% !important;
}
.header-style-2.header-style-3 .logo {
	margin: 20px 0;
	width: 100%;
	text-align: center;
}
.header-style-2.header-style-3 nav {
	margin-top: 20px;
}
.header-style-2.header-style-3 nav {
	width: 100%;
}
.promo-block .promo-text {
	padding-right: 20px;
}
.contact.style-2 .contact-right {
	padding-right: 15px;
	padding-left: 15px !important;
}
.services {
	padding-left: 0px;
}
.latest-work .col-4 .item.filter-home {
	width: 100%;
}
.latest-work .col-4 .item.filter-home li {
	display: inline-block;
	width: auto;
}
.latest-work .col-4 .item.filter-home li a {
	padding: 0 10px;
	margin-top: -2px;
}
.latest-work .position-center-center {
	width: 100%;
	text-align: center;
}
.latest-work .filter {
	min-height: auto;
	height: 80px;
}
.offer-services li {
	width: 33.333%;
}
.offer-services li .position-center-center {
	width: 100%;
}
.counter ul li {
	width: 50%;
	margin-bottom: 30px;
}
.req-quote .col-md-6.pull-right {
	width: 100%;
}
.gallery .col-6 li {
	width: 33.3333%;
}
.gallery .col-6 li img {
	width: 100%;
}
header .navbar li {
	margin: 0 10px;
}
header .navbar {
	width: auto;
}
.contact-info li {
	min-height: 202px;
}
header .navbar {
	width: auto;
}
}
@media(min-width:768px) and (max-width:991px) {
.top-right ul li {
	float: left;
	display: inline-block;
	margin-left: 10px;
	padding-right: 10px;
}
.top-info-con {
	width: 100%;
	margin-bottom: 20px;
}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {
	width: 250px !important;
}
.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {
	padding: 20px;
}
header .ownmenu ul.dropdown {
	padding: 0px;
}
header nav .ownmenu {
	margin-top: 20px;
}
header nav .ownmenu li {
}
header .quotes a {
	padding: 0px 15px;
	font-size: 14px;
}
.welcome article {
	margin-bottom: 30px;
}
.promos {
	text-align: center;
}
.promos .text-right {
	text-align: center;
}
.top-info-con ul li {
	float: left;
}
.top-info-con ul {
	text-align: left;
}
.procsss {
	position: relative;
	margin-top: 0px;
	top: 0px;
}
.procsss .container {
	width: 100%;
}
.procsss ul {
	padding: 30px 0px;
}
.call-out {
	text-align: center;
}
.call-out h4 {
	line-height: 40px;
	margin-bottom: 20px;
}
.heading {
	width: 100%;
}
.what-we-do .rotatebox {
	min-height: auto;
	line-height: normal;
}
.services .tab-content {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.emergency {
	text-align: center;
}
.emergency .text-right {
	text-align: center;
}
.news .post-detail article {
	margin-bottom: 30px;
}
.latest-work .col-4 .item.filter-home {
	width: 100%;
}
.latest-work .col-4 .item.filter-home li {
	display: inline-block;
	width: auto;
}
.latest-work .col-4 .item.filter-home li a {
	padding: 0 10px;
	margin-top: -2px;
}
.latest-work .position-center-center {
	width: 100%;
	text-align: center;
}
.latest-work .col-4 .item {
	width: 33.3333%;
}
.team ul li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.clients ul li {
	float: left;
	width: 33.3333%;
	padding: 0px;
}
footer h4 {
	display: inline-block;
	width: 100%;
	margin: 50px 0;
	margin-bottom: 20px;
}
.footer-works>.col-md-3 {
	float: left;
	width: 33.3333%;
	margin: 0px;
	padding: 10px;
}
.latest-work .filter {
	min-height: 80px;
	display: inline-block;
	width: 100%;
}
.services .nav-tabs {
	display: inline-block;
	width: 100%;
}
.offer-services li {
	width: 33.333%;
}
.offer-services li .position-center-center {
	width: 100%;
}
header .search-nav ul.dropdown {
	width: 100% !important;
}
header .ownmenu .look-book .nav-img {
	width: 70px;
	margin-right: 10px;
}
header .ownmenu .look-book .media-heading {
	margin-top: 0px;
	margin-bottom: 10px;
}
header .ownmenu li > .megamenu li a {
	padding: 5px 0
}
header .ownmenu .look-book p {
}
header .ownmenu > li > .megamenu.full-width {
	padding: 30px;
}
header .ownmenu .look-book .media-body a {
	padding: 5px 0 0 0px;
}
header .ownmenu > li > .megamenu.full-width .nav-post .col-sm-3 {
	width: 50%;
}
header .ownmenu .megamenu h6 {
	margin-top: 20px;
}
header .ownmenu ul.dropdown li a {
	letter-spacing: 1px;
}
.what-we-do .rotatebox {
	width: 50%;
	float: left;
}
.what-we-do .rotatebox:nth-child(3) {
	width: 100%;
}
.services {
	padding-left: 0px;
}
.team .social li {
	width: auto;
}
.media.padding-right-100 {
	padding-right: 0px !important;
}
.testi .owl-nav {
	left: 50%;
	bottom: -40px;
}
.tab-pane.text-right {
	text-align: center;
}
.services .nav-tabs {
	text-align: center;
}
.services .nav-tabs li {
	float: none;
	display: inline-block;
	text-align: left;
}
.portfolio.style-2 li.item {
	width: 50% !important;
}
.counter ul li {
	width: 50%;
	margin-bottom: 30px;
}
header {
	background: rgba(0,0,0,0.2);
}
header .navbar {
	width: 100%;
}
header .nav-right {
	position: absolute;
	top: -35px;
	right: 0px;
}
.top-bar {
	width: 100%;
}
header .quotes a {
	margin-right: 0px;
}
.testi-name {
	width: 70%;
}
header .logo a {
	margin-top: 0px;
}
.latest-work .filter {
	top: 0px;
	position: relative;
	margin-bottom: 20px;
	min-height: auto;
}
.members li {
	width: 50%;
}
.req-quote .col-md-6.pull-right {
	width: 100%;
}
.req-quote form {
	margin-bottom: 50px;
	display: inline-block;
	width: 100%;
}
.shipper {
	margin-top: 0px;
}
.sub-bnr .position-center-center {
	width: 100%;
}
.portfolio-wrapper .items .item {
	width: 50%;
}
footer h5 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
footer .text-post {
	float: left;
	width: auto;
	margin-left: 20px;
}
footer .subcribe {
	margin-bottom: 0px;
}
.gallery .col-6 li {
	width: 33.3333%;
}
.gallery .col-6 li img {
	width: 100%;
}
.team .col-md-3 {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.foot-info-con li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
footer h6 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.promo-box li article {
	margin-bottom: 30px;
}
.contact-info li {
	min-height: 202px;
}
}
@media(min-width:783px){
	.admin-bar .header-1 .is-sticky .sticky,
	.admin-bar .simple  .is-sticky .sticky{
		top:32px!important;
	}	
}
@media(min-width:768px) and (max-width:782px){
	.admin-bar .header-1 .is-sticky .sticky,
	.admin-bar .simple .is-sticky .sticky{
		top:46x!important;
	}
}
@media(max-width:767px) {
footer h5 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}
.contact-info li {
	min-height: 202px;
}
.promo-box li article {
	margin-bottom: 30px;
}
.top-bar .time-ta {
	margin: 0px;
}
.top-bar {
	text-align: center;
}
.top-bar .pull-right {
	width: 100%;
	text-align: center;
}
.top-bar .login-info {
	width: 100%;
}
.login-info li {
	float: none;
	display: inline-block;
}
.nav-right {
	margin-bottom: 10px;
	width: 100%;
	margin-top: 10px;
}
.header-1 .compose {
	margin: 15px 0;
}
header .navbar {
}
.services {
	padding-left: 0px;
}
.sub-bnr .position-center-center {
	width: 100%;
}
.portfolio-wrapper .items .item {
	width: 50%;
}
.top-info-con ul li.fst {
	width: 50%;
	float: left;
}
.top-info-con ul li {
	width: 50%;
	float: left;
	margin: 0px;
	border: none;
}
.top-info-con ul li.lst {
	width: 100%;
}
.news .post-detail article {
	margin-bottom: 30px;
}
.offer-services li {
	width: 50%;
}
.offer-services li .position-center-center {
	width: 100%;
}
.tab-pane.text-right {
	text-align: center;
}
.media.padding-right-100 {
	padding-right: 0px !important;
}
.top-bar {
	margin: 0px;
	padding: 0px;
}
.top-right ul {
	text-align: center;
}
.top-right ul li .media {
	text-align: left;
}
.zip-code {
	width: 100%;
}
header .navbar li a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.top-right ul li {
	float: none;
}
header .quotes {
	width: 100%;
}
header .quotes a {
	width: 100%;
	height: 50px;
	line-height: 50px;
}
header .navbar li {
	margin: 0px;
}
.top-right {
	width: 100%;
}
.top-right ul {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}
.testi .owl-nav {
	left: 50%;
	bottom: -40px;
}
.sub-bnr h4 {
	margin-top: 0px;
}
.sub-bnr {
	min-height: 350px
}
footer .text-post {
	float: left;
	width: auto;
	margin-left: 20px;
}
.heading span {
	width: 100%;
}
#tabs {
	margin-bottom: 30px;
}
.ownmenu {
	width: 100%;
}
.ownmenu > li.showhide span.icon {
	padding: 0px;
	margin: 0px;
}
.top-info-con {
	width: 100%;
}
.top-info-con li {
	float: left;
	padding-bottom: 20px;
}
header .logo:after {
	height: 120px;
	right: 0px;
}
header .logo {
	margin: 0px;
	padding: 10px 0;
}
header .ownmenu:before {
	display: none;
}
header .ownmenu:after {
	display: none;
}
header .logo a {
	margin-top: 0px;
}
.is-sticky .sticky {
	position: relative !important;
}
header .logo {
	position: relative;
	width: 100%;
	text-align: center;
}
header nav {
	float: none;
	width: 100%;
}
header nav .ownmenu .indicator {
	display: block;
}
header nav li a {
	display: inline-block;
	width: 100%;
	float: none;
}
.ownmenu > li.showhide span {
	line-height: 50px;
	display: inline-block;
	width: 100%;
}
.ownmenu > li.showhide {
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.ownmenu > li.showhide span.title {
	margin: 0px;
}
.ownmenu > li > a {
	padding: 10px 0;
	text-align: left;
}
.ownmenu .indicator {
	display: block;
}
header .social {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}
header {
}
.procsss {
	position: relative;
	margin-top: 0px;
	top: 0px;
	background: rgba(0,0,0,0.8);
}
.what-we-do .rotatebox {
	width: 50%;
	float: left;
}
.what-we-do .rotatebox:nth-child(3) {
	width: 100%;
}
.procsss ul {
	padding: 30px 0px;
}
.procsss .media {
	margin-bottom: 30px;
}
.call-out {
	text-align: center;
}
.call-out h4 {
	line-height: 40px;
	margin-bottom: 20px;
}
.heading {
	width: 100%;
}
.what-we-do .rotatebox {
	min-height: auto;
	line-height: normal;
}
.services .tab-content {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.emergency {
	text-align: center;
}
.emergency .text-right {
	text-align: center;
}
.latest-work .col-4 .item.filter-home {
	width: 100%;
}
.latest-work .col-4 .item.filter-home li {
	display: inline-block;
	width: auto;
}
.latest-work .col-4 .item.filter-home li a {
	padding: 0 10px;
	margin-top: -2px;
}
.latest-work .position-center-center {
	width: 100%;
	text-align: center;
}
.latest-work .col-4 .item {
	width: 33.3333%;
}
.clients ul li {
	float: left;
	width: 33.3333%;
	padding: 0px;
}
footer h4 {
	display: inline-block;
	width: 100%;
	margin: 50px 0;
	margin-bottom: 20px;
}
.footer-works>.col-md-3 {
	float: left;
	width: 33.3333%;
	margin: 0px;
	padding: 10px;
}
.latest-work .filter {
	min-height: 80px;
	display: inline-block;
	width: 100%;
}
.services .nav-tabs {
	display: inline-block;
	width: 100%;
}
.latest-work .col-4 .item {
	width: 50%;
}
.port-item img {
	width: 100%;
}
.latest-work .filter {
	top: 0px;
	position: relative;
	margin-bottom: 20px;
	min-height: auto;
}
.portfolio.style-2 li.item {
	width: 50% !important;
}
header {
	position: relative;
	background: rgba(0,0,0,0.9);
	padding: 0px;
}
header .logo {
	width: auto;
	padding: 20px 0px;
	text-align: center;
	border: none;
	padding-bottom: 10px;
}
.feature-item {
	padding: 40px !important;
}
.list-style-featured li {
	margin-bottom: 10px;
}
.list-style-featured h4 {
	margin-top: 15px;
}
.testi {
	width: 100%;
}
.sub-footer {
	padding: 40px;
}
.ownmenu > li.showhide {
	position: absolute;
	right: 0px;
	top: -67px;
	width: auto;
	padding: 0 20px;
	background: rgba(0,0,0,0.5);
	text-align: right;
}
.work-process li {
	margin-bottom: 30px;
}
.team article {
	margin-bottom: 30px;
	text-align: center;
}
header .ownmenu {
}
header .navbar {
	width: 100%;
}
.top-bar {
	width: 100%;
}
header .quotes a {
	margin-right: 0px;
	margin-bottom: 20px;
}
.top-info {
	display: none;
}
.heading p {
	width: 100%;
}
.members li {
	width: 50%;
	float: left;
}
.welcome .infro-con {
	margin-bottom: 30px;
}
.req-quote form {
	display: inline-block;
	width: 100%;
	margin-bottom: 50px;
}
.shipper {
	margin-top: 0px;
}
.req-quote .pull-right {
	width: 100%;
}
.process li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.team .team-detail {
	margin-bottom: 80px;
}
.in-testi {
	width: 100%;
}
.fst-up {
	margin-top: -100px;
}
.sub-space {
	padding-left: 0px;
}
.testimonial {
	background-size: cover;
}
.welcome article {
	margin-bottom: 30px;
}
.promos {
	text-align: center;
}
.promos .text-right {
	text-align: center;
}
footer .subcribe {
	margin-bottom: 0px;
}
.gallery .col-6 li {
	width: 33.3333%;
}
.gallery .col-6 li img {
	width: 100%;
}
.team .col-md-3 {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
.foot-info-con li {
	width: 50%;
	float: left;
	margin-bottom: 30px;
}
footer h6 {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.pizza-sizes .radio {
	margin-bottom: 40px;
}
.newsletter input {
	width: 100%;
}
.newsletter {
	width: 100%;
}
.newsletter label {
	width: 100%;
}
.pizza-menu .pizza-flavers .menu-tittle {
	width: 100%;
	margin-bottom: 10px;
}
.pizza-menu .pizza-flavers .pizza-price {
	float: left;
}
.ingredients ul li {
	width: 33.333333%;
}
.multi-pizza li .chose-btn {
	width: 100%;
}
.multi-pizza li h5 {
	width: 100%;
	margin: 10px 0;
}
.multi-pizza li .chose-btn a.btn {
	margin-left: 0px;
	margin-right: 10px;
}
.chose-btn .nav-tabs li {
	padding: 0px;
}
.multi-pizza li .chose-btn a.btn {
	margin-bottom: 10px;
}
.select-own li a {
	margin-bottom: 30px;
}
.multi-pizza .tab-pane {
	padding-left:0px;
}
}
@media (max-width:640px) {
.select-own .nav-tabs li {
	width: 100%;
	margin-bottom: 30px !important;
}
}
@media(max-width:540px) {
.offer-services li {
	width: 100%;
}
.pizza-menu .pizza-flavers .pizza-price {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.pizza-menu .media-body {
	padding: 20px 0;
}
.pizza-menu .pizza-flavers .menu-tittle {
	text-align: left;
	width: 100%;
}
.portfolio.style-2 li.item {
	width: 100%;
}
.offer-services li .position-center-center {
	width: 100%;
}
.services .nav-tabs li .img-responsive {
	height: 180px;
}
.latest-work .col-4 .item {
	width: 100%;
}
.team ul li {
	width: 100%;
}
.team ul li {
	width: 100%;
}
.team .social li {
	width: auto;
}
.gallery .col-6 li {
	width: 50%;
}
.gallery .col-6 li img {
	width: 100%;
}
.team .col-md-3 {
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.pizza-menu .pizza-flavers .pizza-price {
	width: auto !important;
	float: left !important;
	margin-top: 0px !important;
}
.pizza-menu textarea {
	width: 100%;
	min-width: inherit !important;
}
.contact-info li{
	width:100%;
}
}
@media(max-width:440px) {
.top-info-con ul li {
	width: 100%;
}
.ingredients ul li {
	width: 50%;
}
.top-info-con ul li.lst {
	width: 100%;
}
header .logo:after {
	display: none;
}
header .logo:before {
	display: none;
}
.process li {
	width: 100%;
}
.portfolio-wrapper .items .item {
	width: 100%;
}
.pizza-menu .media-body {
	width: 100%;
}
.top-info-con ul li.fst {
	width: 100%;
}
.some-latest li h3 {
	margin: 0px;
}
.gallery .col-6 li {
	width: 100%;
}
}
@media(max-width:320px) {
.members li {
	width: 100%;
	float: left;
}
.ingredients ul li {
	width: 100%;
}
}
@media(max-height: 700px) {
}
