/*------------------------------------------------------------------
    Main Style Stylesheet
    Project:        HTML5 Template
    Version:        1.0
    Author:         M_Adnan
    Last change:    10/02/2015
    Primary use:    Creative, Coporate, Business, Portfolio, Personal
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
body 
 + WRAP
 + HEADER
 + NAVIGATION
 + BANNER
 + SERVICES
 + OUR FEATURED FOUNDERS
 + BLOG UPDATES 
 + APPOINMENT
 + NEWS FROM BLOG
 + PARTNERS / CLIENTS
 + FOOTER
 + SOCIAL ICONS
 + MEGA MENU
 + 3 MENU LEVEL 
-------------------------------------------------------------------*/
/*=======================================================
      THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	word-break: break-word;
}
/*=======================================================
      WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*=======================================================
      HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #252525;
	font-family: 'Josefin Sans';
	font-weight: bold;
	text-transform: uppercase;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
	font-weight: bold;
}
p {
	font-weight: 400;
	color: #6f6f6f;
	font-size: 16px;
	line-height: 26px;
	text-rendering: optimizeLegibility;
	font-family: 'Open Sans', sans-serif;
}
button {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.font-josefin {
	font-family: 'Josefin Sans';
}
.font-alex {
	font-family: 'Alex Brush';
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
ul {
	margin-bottom: 0px;
}
li {
	list-style: none;
	padding-left:15px;
	margin-bottom:10px;
}
a {
	text-decoration: none;
	color: #141414;
}
p.intro-small {
	width: 80%;
	margin: 0 auto;
}
.text-transform-none {
	text-transform: none !important;
}
.text-white {
	color: #fff !important;
}
.text-bold {
	font-weight: bold !important;
}
.text-normal {
	font-weight: normal !important;
}
.font-12px {
	font-size: 12px !important;
}
.font-14px {
	font-size: 14px !important;
}
.font-16px {
	font-size: 16px !important;
}
.font-18px {
	font-size: 18px !important;
}
.font-20px {
	font-size: 20px !important;
}
.font-bold {
	font-weight: bold !important;
}
.font-normal {
	font-weight: normal !important;
}
.white-text {
	color: #fff !important;
}
.font-italic {
	font-style: italic;
}
.font-bold {
	font-weight: bold !important;
}
a:hover, a:focus {
	color: #bf2424;
}
.primary-color {
	color: #ffe115 !important;
}
.border-bottom-1 {
	border-bottom: 1px solid #ededed;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.white-bg {
	background: #fff !important;
}
.relative {
	position: relative;
}
.line-height-24 {
	line-height: 24px !important;
}
.line-height-22 {
	line-height: 22px !important;
}
.line-height-26 {
	line-height: 26px !important;
}
.dark-text p {
	color: #141414;
}
.light-gray-bg {
	background: #f3f3f3 !important;
}
/*=======================================================
      BTN STYLE
========================================================*/
.btn {
	border: none;
	color: #fff;
	display: inline-block;
	padding: 0px 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Josefin Sans';
	border-radius: 0px;
	line-height: 58px;
	background: #2d3a4b;
	letter-spacing: 0px;
	position: relative;
	z-index: 1;
}
.btn:hover {
	background: #fff;
	color: #ab4e52;
}
.btn i {
	margin-left: 15px;
}
.btn-small {
	height: 40px;
	font-size: 14px;
	padding: 0px 20px;
	line-height: 38px;
}
.btn-round {
	background: none;
	border: 1px solid #fff;
	border-radius: 50px;
}
.btn-dark {
	border-color: #bf2424;
	color: #bf2424;
}
.btn-dark:hover {
	background: #bf2424;
	color: #fff;
}
.parallax-bg {
	background-size: cover !important;
}
section {
	position: relative;
	width: 100%;
	z-index: 3;
}
.home-slider {
	position: relative;
}
.zip-code {
	width: 570px;
	height: 100px;
	margin: 0 auto;
	background: #fff;
	padding: 30px;
	position: relative;
	border-radius: 50px;
}
.zip-code form label {
	display: inline-block;
	width: 100%;
	color: #333333;
	font-size: 18px;
	text-transform: uppercase;
	max-width: 100% !important;
}
.zip-code form input {
	border: none;
	padding: 10px 0px;
	width: 100%;
	color: #333333;
	font-size: 18px;
	text-transform: uppercase;
	outline: none !important;
	display: inline-block;
	border-bottom: 1px solid #e6e6e6;
}
.zip-code form label {
	width: 100%;
	font-size: 18px;
	color: #000;
}
.zip-code button {
	height: 50px;
	width: 50px;
	background: #bf2424;
	color: #fff;
	font-size: 30px;
	border: none;
	border-radius: 50%;
	position: absolute;
	top: 25px;
	right: 25px;
}
/*=======================================================
      HEADING
========================================================*/
.heading {
	margin: 0 auto;
	margin-bottom: 80px;
	position: relative;
	z-index: 1;
}
.heading h3 {
	margin: 0px;
	font-size: 36px;
	color: #333333;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
}
.heading span {
	display: inline-block;
	width: 100%;
	font-size: 30px;
	font-weight: normal;
	font-family: 'Alex Brush';
	line-height: 24px;
	color: #ff8400;
}
.heading i {
	color: #bf2424;
	font-size: 20px;
	position: relative;
}
.heading i:before {
	position: absolute;
}
.heading hr {
	position: absolute;
	height: 1px;
	z-index: -1;
	width: 170px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	border: none;
	bottom: 0px;
}
.heading hr:before {
	position: absolute;
	height: 1px;
	width: 70px;
	margin: 0 auto;
	left: 0px;
	margin-left: 115px;
	content: "";
	right: 0px;
	border: none;
	background: #d9d9d9;
	bottom: -5px;
	z-index: -1;
}
.heading hr:after {
	position: absolute;
	height: 1px;
	width: 70px;
	margin: 0 auto;
	left: 0px;
	margin-right: 102px;
	content: "";
	right: 0px;
	border: none;
	background: #d9d9d9;
	bottom: -5px;
	z-index: -1;
}
.heading.white h3 {
	color: #fff;
}
.heading.white i {
	color: #fff;
}
.step-head span {
	color: #bf2424;
	font-size: 48px;
}
.step-head h6 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}
.center-block {
	float: none;
}
/*=======================================================
      TOP BAR
========================================================*/
.top-bar {
	min-height: 40px;
	background: #bf2424;
	position: relative;
	z-index: 999;
}
.top-bar.tri-white-bottom:after {
	background: url(../images/tri-top-bar.png) repeat-x !important;
}
.top-bar .numb {
	font-size: 18px;
	font-family: 'Josefin Sans';
	color: #fff;
	font-weight: normal;
	line-height: 40px;
	font-style: italic;
	font-weight: bold;
	display: inline-block;
	padding-right: 15px;
	border-right: 1px solid rgba(255,255,255,0.2);
}
.top-bar .time-ta {
	font-size: 18px;
	font-family: 'Josefin Sans';
	color: #fff;
	font-weight: normal;
	line-height: 40px;
	font-style: italic;
	font-weight: bold;
	margin-left: 5%;
	display: inline-block;
}
.login-info {
	float: right;
}
.login-info li {
	float: left;
}
.login-info li a {
	float: left;
	line-height: 40px;
	border-left: 1px solid rgba(255,255,255,0.2);
	font-weight: bold;
	padding-left: 15px;
	margin-left: 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Josefin Sans';
	color: #fff;
}
.top-bar .bootstrap-select .btn {
	padding: 0px;
	color: #fff !important;
	height: 40px;
	font-size: 12px;
	font-weight: #fff;
}
.top-bar .bootstrap-select.btn-group .dropdown-menu {
	background: #bf2424;
	z-index: 999;
	padding: 0px;
}
.top-bar .bootstrap-select {
	width: 52px !important;
}
.top-bar .dropdown-menu li a {
	line-height: 18px;
	margin: 0px;
	font-size: 10px;
	padding: 5px 10px;
	border: none;
	width: 100%;
}
.social {
	display: inline-block;
	margin-left: 10px;
}
.social a {
	margin-right: 10px;
	color: #e1aaaa;
}
.social a:hover {
	color: #fff;
}
/*=======================================================
      HEADER
========================================================*/
header {
	width: 100%;
	z-index: 9;
	padding: 30px 0;
	position: absolute;
}
header .navbar {
	border: none;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	text-align: center;
	width: 70%;
	min-height: 40px;
	float: right;
}
header .logo {
	float: left;
	position: relative;
}
header .logo img {
	z-index: 3;
	position: relative;
}
.sticky-wrapper {
	height: auto !important;
}
header .sticky {
}
header .navbar {
	display: inline-block;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
header .navbar li {
	display: inline-block;
	float: left;
	margin: 0 15px;
	position: relative;
	padding:0;
}
header .sticky {
	width: 100%;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
header .navbar li a {
	font-size: 12px;
	color: #fff;
	font-family: 'Josefin Sans';
	font-weight: normal;
	padding: 10px 0px;
	font-weight: bold;
	letter-spacing: 0px;
	text-transform: uppercase;
}
header .navbar li a:before {
	width: 0px;
	margin: 0px auto;
	position: absolute;
	content: "";
	height: 2px;
	bottom: 0px;
	z-index: -1;
	background: #fff;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
header .navbar li a:hover:before {
	width: 100%;
}
header .navbar li.active a:before {
	width: 100%;
	margin: 0px auto;
	position: absolute;
	content: "";
	height: 2px;
	bottom: 0px;
	z-index: -1;
	background: #fff;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.nav>li>a:focus, .nav>li>a:hover {
	background: none;
}
.ownmenu ul.dropdown {
	padding: 0px;
}
.ownmenu ul.dropdown li {
	margin: 0px;
}
.ownmenu ul.dropdown li {
	position: relative;
	z-index: 2;
}
.ownmenu ul.dropdown li a {
	z-index: 1;
	position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li{
	width:100%;
}
.ownmenu ul.dropdown li a:before {
	background: #ff8400 !important;
	content: "";
	width: 0px;
	height: 100%;
	top: 0px;
	margin: 0px;
	z-index: -1;
	left: 0px;
}
.ownmenu ul.dropdown li a:hover:before {
	width: 100%;
}
.ownmenu ul.dropdown li a {
	padding: 0px 20px;
	font-size: 12px;
	letter-spacing: 0px;
	font-weight: normal;
	line-height: 34px;
	color: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ownmenu ul.dropdown {
	top: 37px;
}
.is-sticky .sticky .ownmenu ul.dropdown {
	top:52px;
}
.ownmenu {
	float: left;
}
.nav-right i {
	font-size: 20px;
}
.nav-right .navbar-right li {
	margin: 0 10px;
}
.nav-right {
	float: right;
	position: relative;
}
header .social_icons {
	float: right;
	color: #fff;
	margin-top: 20px;
}
header .social_icons a {
	color: #fff;
	margin-left: 10px;
}
header .social_icons a:hover {
	color: #ab4e52;
}
.header-1 {
	position: relative;
	background: none;
}
.header-1 .navbar li a {
	color: #333333;
}
.header-1 .navbar li.active a:before {
	background: #333333;
}
.header-1 .navbar li a:hover:before {
	background: #333333;
}
.header-1 .compose {
	background: #bf2424 !important;
	color: #fff !important;
}
.header-1 .sticky {
	background: none;
}
.header-1 .is-sticky .sticky {
	background: rgba(255,255,255,0.9);
	box-shadow:0 0 5px rgba(0,0,0,0.4);
}
header .compose {
	border: 2px solid #fff;
	color: #fff;
	font-weight: 700;
	font-family: 'Josefin Sans';
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 30px;
}
header .compose i {
	font-size: 14px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 2px solid #fff;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
header .compose:hover {
	background: #fff;
	color: #bf2424;
}
header .compose:hover i {
	border-left: 2px solid #bf2424;
}
.is-sticky .sticky {
	background: rgba(0,0,0,0.8);
	padding: 10px 0;
}
.tp-bannertimer {
	display: none;
}
.progress-bars-top {
	padding: 30px 0;
	background: url(../images/progress-bg.jpg) center center no-repeat;
	background-size: cover;
}
.progress-bars-top h2 {
	text-align: center;
	color: #fff;
}
.progress-bars-top .progress {
	margin: 0px;
	background: none;
	box-shadow: none;
	border-radius: 50px;
	border: 1px solid #fff;
}
.progress-bars-top .progress span {
	height: 40px;
	width: 95px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 50px;
	position: absolute;
	color: #bf2424;
	font-family: 'Josefin Sans';
	font-weight: bold;
	background: #fff;
	text-align: center;
	margin-top: -12px;
	margin-left: -2px;
}
.progress-bars-top .progress-bar {
	background: #fff;
	border: none;
	box-shadow: none;
	text-align: right;
}
/*=======================================================
      SLIDER
========================================================*/
.home-slider .tp-caption small {
	font-size: 20px !important;
	display: inline-block;
	vertical-align: top;
	font-weight: normal !important;
	line-height: 30px;
	margin-top: 15px;
	margin-right: 5px;
}
.tri-white-top:before {
	position: absolute;
	top: -7px;
	height: 7px;
	left: 0px;
	width: 100%;
	z-index: 9;
	content: "";
	background: url(../images/tri-promo-top-white.png) repeat-x;
}
.tri-white-bottom:after {
	position: absolute;
	bottom: -7px;
	height: 7px;
	left: 0px;
	width: 100%;
	z-index: 9;
	content: "";
	background: url(../images/tri-promo-bottom-white.png) repeat-x;
}
/*=======================================================
      PROMO BOX
========================================================*/
.promo-box:before {
	position: absolute;
	top: -7px;
	height: 7px;
	left: 0px;
	width: 100%;
	z-index: 9;
	content: "";
	background: url(../images/tri-promo-top.png) repeat-x;
	color: #fff;
	font-size: 20px;
}
.promo-box {
	background: #343434;
	padding: 50px 0;
}
.promo-box li article {
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.promo-box li article img {
	width: 100%;
}
.promo-box li article .btn {
	margin-top: -40px;
}
.promo-box li article h6 {
	background: #ff8400;
	margin: 0px;
	color: #fff;
	padding: 15px 10px;
	font-size: 18px;
	text-align: center;
	position: relative;
	z-index: 2;
	text-transform: none;
	border-radius: 0 0 0 4px;
}
.promo-box li article .over-hover {
	background: rgba(0,0,0,0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.promo-box li article:hover {
	box-shadow: 0 0 15px rgba(0,0,0,0.8);
}
.promo-box li article:hover .over-hover {
	opacity: 1;
}
/*=======================================================
      ABOUT RESTURANT
========================================================*/
.about-text h1 {
	font-size: 72px;
	font-family: 'Alex Brush';
	color: #d9d9d9;
	text-transform: none;
	font-weight: normal;
	line-height: 48px;
	margin-bottom: 30px;
}
.about-text h1 span {
	color: #bf2424;
}
/*=======================================================
      PIZZA MENU
========================================================*/
.pizza-menu {
	background: #f3f3f3;
}
.pizza-menu.tri-white-top:before {
	background: url(../images/tri-promo-top-light.png) repeat-x;
}
.pizza-menu.tri-white-bottom:after {
	background: url(../images/tri-promo-bottom-light.png) repeat-x;
}
.pizza-menu .pizza-flavers .menu-img {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	margin-right: 10px;
	margin-top: 18px;
}
.pizza-menu .media-body {
	padding: 30px 0;
	border-bottom: 1px dashed #666666;
}
.pizza-menu .pizza-flavers li {
	width: 100%;
}
.pizza-menu .pizza-flavers li:nth-child(1) .media-body {
	border-top: 1px dashed #666666;
}
.pizza-menu .pizza-flavers h5 {
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 0px;
}
.pizza-menu .pizza-flavers .menu-tittle {
	display: inline-block;
}
.pizza-menu .pizza-flavers .pizza-price {
	float: right;
	font-size: 30px;
	color: #bf2424;
	font-weight: bold;
	font-family: 'Josefin Sans';
}
.pizza-menu .pizza-flavers span {
	font-size: 18px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.pizza-menu textarea {
	min-width: 400px;
	border: 1px solid #d9d9d9;
	padding: 5px 10px;
	margin-top: 10px;
	border-radius: 4px;
}
.choo-pizza {
	float: right;
	font-family: 'Josefin Sans';
	color: #a5a5a5;
	border: 1px solid #a5a5a5;
	border-radius: 20px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 12px 20px;
	margin-left: 20px;
}
.choo-pizza i {
	margin-right: 5px;
}
.choo-pizza:hover {
	border-color: #bf2424;
	background: #bf2424;
	color: #fff;
}
.choo-pizza.active {
	border-color: #bf2424;
	background: #bf2424;
	color: #fff;
}
/*=======================================================
      Quaility Img
========================================================*/
.quaility-img {
	background: url(../images/quaility-img.jpg) center center no-repeat;
	background-size: cover;
}
.quaility-img.tri-white-top:before {
	background: url(../images/tri-promo-bottom-light.png) repeat-x;
	top: 0px;
}
.inside-resturant {
}
/*=======================================================
      Ingredients
========================================================*/
.ingredients {
	display: inline-block;
	width: 100%;
}
.ingredients ul li {
	position: relative;
	float: left;
	text-align: center;
	width: 16.66666666666667%;
	margin-bottom: 20px;
}
.ingredients .checkbox {
	position: relative;
}
.ingredients .checkbox label {
	padding: 0px;
	margin: 0px;
	padding-bottom: 30px;
}
.ingredients .checkbox label span {
	font-size: 12px;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
}
.ingredients .checkbox label::before {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	background: none;
	color: #cccccc;
	font-size: 20px;
	font-family: "FontAwesome";
	content: "\f00c";
	border: none;
}
.ingredients .checkbox label::after {
	position: absolute;
	bottom: 0px;
	top: auto;
	padding: 0px;
	padding-top: 1px;
	font-size: 20px;
	left: 0px;
	right: 0px;
	color: #83b036;
	margin: 0 auto;
}
/*=======================================================
      Testimonial
========================================================*/
.testimonial {
	background: url(../images/testi-bg.jpg) center center no-repeat;
	background-size: cover;
}
.testimonial .item-slide img {
	border: 4px solid #fff;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	display: inline-block;
}
.testimonial .item-slide {
	text-align: center;
}
.testimonial .item-slide i {
	font-size: 20px;
	color: #fff;
	margin-bottom: 15px;
}
.testimonial .item-slide h5 {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 15px;
}
.testimonial .item-slide p {
	color: #fff;
	font-weight: normal;
}
.testimonial .owl-nav {
	display: none;
}
.testimonial .owl-nav div.owl-prev {
	display: inline-block !important;
	color: #344248;
	margin: 0 15px;
	height: 50px;
	width: 32px;
	border-radius: 4px;
	border: 1px solid #ececec;
	line-height: 48px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: -60px;
	margin-top: -50px;
}
.testimonial .owl-nav div.owl-next {
	display: inline-block !important;
	color: #344248;
	margin: 0 15px;
	height: 50px;
	width: 32px;
	border-radius: 4px;
	border: 1px solid #ececec;
	line-height: 48px;
	text-align: center;
	position: absolute;
	top: 50%;
	right: -60px;
	margin-top: -50px;
}
.testimonial .owl-nav div.owl-next:hover {
	background: #006db7;
	border-color: #006db7;
	color: #fff;
}
.testimonial .owl-nav div.owl-prev:hover {
	background: #006db7;
	border-color: #006db7;
	color: #fff;
}
.testimonial .owl-dots {
	position: absolute;
	bottom: -50px;
	width: 100%;
	text-align: center;
}
.testimonial.tri-white-top:before {
	top: 0px;
	background: url(../images/tri-promo-bottom-white.png) repeat-x;
}
.testimonial .owl-dots div {
	height: 18px;
	width: 18px;
	display: inline-block;
	border: 2px solid #fff;
	margin-bottom: 0px;
	margin: 0 2px;
	border-radius: 50%;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.testimonial .owl-dots .owl-dot.active {
	background: #fff;
}
.testimonial .owl-dots .owl-dot span {
	margin: 0px;
}
.select-own .nav-tabs {
	border: none;
	margin: 0 auto;
	max-width: 800px;
}
.select-own .tab-content {
	display: inline-block;
	width: 100%;
}
.select-own .nav-tabs li {
	border: none !important;
	background: none !important;
	margin: 0px !important;
	display: inline-block;
	float: left;
	width: 50%;
}
.select-own .nav-tabs li a {
	border: none !important;
	background: none !important;
	margin: 0px !important;
}
.select-own .nav-tabs li.active i.fa-times {
	display: none;
}
.select-own .nav-tabs li i.fa-check {
	display: none;
}
.select-own .nav-tabs li.active i.fa-check {
	display: inline-block;
}
.select-own .pizza-menu .pizza-flavers span {
	margin-top: 0px;
}
/*=======================================================
      PAGINATION
========================================================*/
.pizza-mia {
	background: #bf2424;
}
.pizza-mia.tri-white-top:before {
	background: url(../images/tri-promo-top-red.png) repeat-x;
}
/*=======================================================
      Order Steps
========================================================*/
.quantity {
	max-width: 245px;
	margin: 0 auto;
	display: inline-block;
}
.quantity input {
	border-radius: 30px;
	height: 60px;
	display: inline-block;
	margin: 0px;
	float: left;
	text-align: center;
	border: 1px solid #cccccc;
	margin: 0 15px;
	width: 150px;
	font-weight: bold;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.quantity input:focus {
	outline: none !important;
	border: 1px solid #bf2424;
}
.quantity a {
	float: left;
	color: #bf2424;
	font-size: 30px;
	line-height: 60px;
	display: inline-block;
}
.quantity {
	position: relative;
	padding: 0 30px;
}
.quantity .plus-add {
	color: #83b035;
}
.quantity .qty-pizza {
	float: left;
	color: #bf2424;
	font-size: 30px;
	line-height: 60px;
	display: inline-block;
	height: 29px;
	width: 26px;
	position: relative;
	overflow: hidden;
	line-height: 30px;
	cursor: pointer;
	text-indent: -9999;
}
.quantity .qty-pizza.mines {
	position: absolute;
	left: 0px;
	margin-top: 15px;
}
.quantity .qty-pizza.plus {
	position: absolute;
	right: 0px;
	margin-top: 15px;
}
.quantity .qty-pizza.mines:before {
	font-family: 'FontAwesome';
	content: "\f056";
}
.quantity .qty-pizza.plus:before {
	font-family: 'FontAwesome';
	content: "\f055";
	color: #83b035;
}
.pizza-sizes .radio {
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.pizza-sizes .radio label {
	padding: 0px;
	padding-bottom: 40px;
}
.pizza-sizes .radio label::before {
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}
.pizza-sizes .radio label::after {
	bottom: 1px;
	left: 0px;
	top: auto;
	right: 0px;
	margin: 0 auto;
}
.pizza-sizes .radio input[type="radio"] {
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}
.pizza-sizes .radio label::before {
	height: 30px;
	width: 30px;
	font-family: 'FontAwesome';
	content: "\f00d";
	line-height: 28px;
	color: #cccccc;
	font-size: 20px;
	border: 1px solid #cfcfcf;
}
.pizza-sizes .radio label:hover::before {
	border: 1px solid #83b036;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
	outline: none !important;
}
.pizza-sizes .radio label::after {
	height: 28px;
	width: 28px;
	background: #fff;
	line-height: 28px;
	font-family: 'FontAwesome';
	content: "\f00c";
	color: #83b036;
	font-size: 20px;
}
.pizza-sizes .radio span {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
	font-family: 'Josefin Sans';
}
.select-own li span {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
	font-family: 'Josefin Sans';
}
.select-own li i.large {
	height: 126px;
	width: 126px;
	line-height: 124px;
	border: 1px solid #cfcfcf;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	font-size: 50px;
	color: #c6c6c6;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
.select-own li a {
	display: inline-block;
}
.select-own li i.fa-times {
	height: 30px;
	width: 30px;
	background: #fff;
	border-radius: 50%;
	margin-top: 10px;
	line-height: 28px;
	color: #cccccc !important;
	font-size: 20px;
	border: 1px solid #cfcfcf;
}
.select-own .nav-tabs li i.fa-check {
	height: 30px;
	width: 30px;
	background: #fff;
	border-radius: 50%;
	margin-top: 10px;
	line-height: 28px;
	color: #83b036 !important;
	font-size: 20px;
	border: 1px solid #cfcfcf;
}
.select-own li a:hover i {
	color: #333333;
}
.order-steps .selected label i {
	color: #333333;
}
.order-steps hr {
	border-top: 1px solid #cccccc;
}
.last-liner {
	max-width: 600px;
	margin: 50px auto;
	margin-top: 50px;
}
.last-liner .btn {
	border: 2px solid #bf2424;
	color: #bf2424;
	margin-top: 20px;
}
.last-liner .btn:hover {
	background: #bf2424;
	color: #fff;
}
/*=======================================================
      MULTI PIZZA
========================================================*/
.multi-pizza li {
	text-align: left;
	padding: 10px 0;
}
.multi-pizza li .icon {
	display: inline-block;
	width: 70px;
	margin-right: 10px;
}
.multi-pizza li h5 {
	font-size: 18px;
	display: inline-block;
	margin: 25px 0;
}
.multi-pizza li .media-body {
	border-bottom: 1px dashed #666666;
}
.multi-pizza li:nth-last-child(1) .media-body {
	border-bottom: none;
}
.multi-pizza li .chose-btn a.btn {
	border: 1px solid #cccccc;
	color: #b1b1b1;
	background: none;
	line-height: 38px;
	border-radius: 30px;
	margin-left: 10px;
}
.multi-pizza li .chose-btn .btn:hover {
	background: #bf2424;
	border-color: #bf2424;
	color: #fff;
}
.multi-pizza li .chose-btn {
	float: right;
	margin-top: 10px;
	margin-bottom: 15px;
}
.multi-pizza li .chose-btn i {
	margin: 0px;
	margin-right: 5px;
	display: none;
}
.multi-pizza li .chose-btn .active i {
	display: inline-block;
}
.multi-pizza li .chose-btn .active a {
	background: #bf2424;
	border-color: #bf2424;
	color: #fff;
}
.chose-btn .nav-tabs {
	border: none;
	margin: 0px;
	padding: 0px;
}
.chose-btn .nav-tabs li a {
	margin: 0px;
	margin-left: 10px;
}
.multi-pizza .pizza-flavers li:nth-child(1) .media-body {
	border-top: none;
}
.multi-pizza .pizza-menu .media-body {
	padding: 20px 0;
}
.multi-pizza .pizza-menu .pizza-flavers li {
	padding: 0px;
	margin-bottom: 20px;
}
.multi-pizza .pizza-menu .pizza-flavers .menu-img {
	margin-top: 0px;
}
.multi-pizza .pizza-menu .media-body {
	padding-top: 10px;
}
.multi-pizza .tab-pane {
	border-bottom: 2px solid #bf2424;
	margin-bottom: 30px;
	padding-left:90px;
}
.multi-pizza .select-own .tab-content {
	float: left;
}
/*=======================================================
      PAGINATION
========================================================*/
.pagination {
	float: right;
	border: none;
	border-radius: 0px;
}
.pagination li a {
	border-radius: 0px !important;
	border: none;
	background: #2d3a4b;
	color: #fff;
	margin: 0 2px;
	height: 23px;
	width: 23px;
	padding: 0px;
	text-align: center;
	line-height: 23px;
	font-size: 12px;
}
.pagination li a:hover {
	background: #ffe115;
	color: #2d3a4b;
}
.pagination li.active a {
	background: #ffe115;
	color: #2d3a4b;
}
.pagination.in-center {
	text-align: center;
	width: 100%;
}
.pagination.in-center li {
	display: inline-block;
}
/*=======================================================
      SUB BANNER
========================================================*/
.sub-bnr {
	background: url(../images/sub-bnr-bg.jpg) no-repeat;
	background-size: cover !important;
	min-height: 610px;
	text-align: center;
	position: relative;
}
.sub-bnr h4 {
	font-size: 25px;
	color: #fff;
	font-weight: bold;
	letter-spacing: 6px;
	margin-top: 0px;
}
.sub-bnr p {
	color: #666666;
	letter-spacing: 0px;
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	margin-top: 20px;
	max-width: 590px;
	margin: 0 auto;
}
.sub-bnr .breadcrumb {
	background: none;
	margin: 0px;
	height: 40px;
	margin-top: 30px;
	padding: 0px 40px;
	background: #2d3a4b;
	display: inline-block;
	border-radius: 20px;
}
.breadcrumb>li+li:before {
	padding: 0 10px;
}
.sub-bnr h6 {
	display: inline-block;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	float: left;
	line-height: 58px;
	margin: 0px;
	letter-spacing: 1px;
}
.sub-bnr .breadcrumb li {
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 40px;
	font-weight: normal;
	font-size: 10px;
	margin: 0px 0;
}
.sub-bnr .breadcrumb li a {
	color: #fff;
	text-transform: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 10px;
}
.sub-bnr .breadcrumb>li+li:before {
	color: #fff;
}
/*=======================================================
			FOOTER
========================================================*/
footer {
	padding: 100px 0;
	padding-bottom: 60px;
	background: #343434;
	position: relative;
}
footer p {
	color: #999999;
}
footer.tri-white-top:before {
	background: url(../images/tri-promo-bottom-footer.png) repeat-x;
}
.tt-footer-2{
	position:relative;
}
.rights{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #6f6f6f;
	margin:0;
	padding:26px 0;
	text-transform: uppercase;
	text-align: center;
}
/*=======================================================
			CONTACT FORM
========================================================*/
.contact {
	padding: 100px 0;
}
.contact #contact_form {
	text-align: center;
}
.success-msg {
	background: #fff;
	border: 1px solid #589051;
	color: #589051;
	margin-bottom: 30px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 11px 16px;
	border-radius: 4px;
	display: none;
}
.success-msg i {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #ABD0A8;
	margin-right: 10px;
}
#contact_form li {
	text-align: center;
	margin-bottom: 10px;
}
#contact_form li input {
	display: inline-block;
	width: 100%;
	height: 45px;
	padding: 0 10px;
	margin-top: 15px;
	font-size: 18px;
	font-family: 'Josefin Sans';
	font-weight: bold;
	color: #333333;
	border: none;
	text-transform: uppercase;
	text-align: center;
}
#contact_form li .form-control {
	height: 45px;
	border: none;
	border-bottom: 1px solid #e6e6e6;
	box-shadow: none;
	border-radius: 0px;
	background: #fff;
}
#contact_form li .form-control:hover {
	border-bottom: 1px solid #bf2424 !important;
}
#contact_form li .form-control:focus {
	border-bottom: 1px solid #bf2424 !important;
}
.contact .error {
	border: 1px solid red;
}
#contact_form li .error {
	border: 1px solid #CCC;
	border-bottom: 1px solid red;
}
#contact_form li textarea {
	height: 140px !important;
	margin-top: 10px;
	font-size: 18px;
	font-family: 'Josefin Sans';
	font-weight: bold;
	color: #333333;
	text-transform: uppercase;
	text-align: center;
}
#contact_form li .btn {
	text-transform: uppercase;
	padding: 0px 40px;
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	margin-top: 15px;
	display: inline-block;
}
.contact-form {
	max-width: 600px;
	margin: 0 auto;
}
.contact-form .tittle {
	text-align: center;
}
.contact-form .tittle hr {
	width: 28px;
	height: 5px;
	margin: 15px auto;
	background: #448aff;
	border: none;
}
.contact-form .tittle p {
	text-transform: none;
	font-size: 16px;
}
.contact-form label {
	font-weight: normal;
	color: #2d3a4b;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0px;
	margin-bottom: 13px;
}
.contact-form textarea {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 20px;
}
.map-wrapper {
	height: 350px;
	margin-bottom: 0px;
}
.contact h5 {
	color: #2d3a4b;
	margin-top: 0px;
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 50px;
}
.contact-info {
	display: inline-block;
	width: 100%;
}
.contact-info li {
	background: #bf2424;
	position: relative;
	padding: 40px 30px;
	float: left;
	width: 25%;
	color: #fff;
	text-align: center;
	margin-bottom:0;
}
.contact-info li:nth-child(2) {
	background: #c53939;
}
.contact-info li:nth-child(4) {
	background: #c53939;
}
.contact-info li i {
	font-size: 30px;
	margin-bottom: 20px;
}
.contact-info li p {
	color: #fff;
	margin: 0px;
	font-size: 14px;
	line-height: 24px;
}
.map-block.tri-white-top:before {
	top: 0px;
	background: url(../images/tri-promo-bottom-white.png) repeat-x;
}
.newsletter h6 {
	color: #fff;
	margin-bottom: 10px;
	font-weight: normal;
	margin-top: 30px;
	position: relative;
}
.newsletter {
	position: relative;
	display: inline-block;
}
.newsletter button {
	border: none;
	position: absolute;
	right: 20px;
	top: 68px;
	z-index: 1;
	font-size: 20px;
	background: none;
}
.newsletter input {
	height: 50px;
	width: 370px;
	border-radius: 50px;
	border: none;
	font-weight: normal;
	padding: 0 20px;
}
.social-icons {
	margin-top: 30px;
}
.social-icons li {
	display:inline-block;
	padding:0;
}
.social-icons a {
	font-size: 30px;
	color: #fff;
	margin: 0 20px;
}
.rights p {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0px;
	line-height: 70px;
}
.rights {
	background: #1a1a1a;
	height: 70px;
}
.rights.tri-white-top:before {
	top: -7px;
	background: url(../images/tri-promo-bottom-rights.png) repeat-x;
}

/* News & Events page  */
/* ====================================================== */
.page-content .news-events-blog {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	padding-bottom: 70px;
	overflow: hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-content .news-events-blog .blog-list {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0px 0px 0px 0px;
	padding: 30px;
	margin-bottom: 30px;
	text-align: left;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 5px;
}
.page-content .news-events-blog .blog-list img {
	height: 170px;
	width: 100%;
	border-radius: 4px;
}
.page-content .news-events-blog .blog-list h5 {
	margin: 0 0 5px;
	padding: 0;
}
.blog-list a:hover {
	color: #666;
}
.page-content .news-events-blog .blog-list p {
	margin: 10px 0px 0px 0px;
	color: #423338;
	margin-bottom: 20px;
	font-size: 14px;
}
.page-content .news-events-blog {
/*
	margin-top: 100px;
*/
}
.page-content .blog-list .tag-list p {
	margin: 0px;
}
/* tag list */
.page-content .news-events-blog .blog-list .tag-list {
	padding-top: 0px;
	float: right;
}
.page-content .news-events-blog .blog-list ul li {
	padding: 10px 70px 0 0;
}
.page-content .news-events-blog .blog-list ul li span {
	padding: 0 4px;
}
.page-content .news-events-blog .blog-list .bl-sort {
	color: #999;
}
.page-content .news-events-blog .blog-list .fa {
	padding-right: 7px;
}
.page-content .news-events-blog .view-style {
	padding-top: 30px;
}
.page-content .news-events-blog .events-side-panel {
	width: 100%;
	background-color: #f3f3f3;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	border-radius: 6px;
	border: 1px solid #ccc;
}
/*  search section */
.page-content .news-events-blog .events-side-panel .search-keyword {
	position: relative;
	margin: 0;
	padding: 0 20px;
	border: none;
}
.page-content .news-events-blog .events-side-panel .search-keyword input[type="text"] {
	margin: 0;
	padding: 3px 15px;
	width: 99%;
	height: 30px;
	outline: 0;
	color: #333;
	font-size: 14px;
	border: 1px solid #ccc;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
	background: #fff;
	line-height: 24px;
}
.page-content .news-events-blog .events-side-panel .search-keyword button[type="submit"] {
	position: absolute;
	top: 0px;
	right: 18px;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	outline: 0;
	border: 1px solid #ccc;
	border-left: none;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
	background: #fff;
	color: #e00000;
	font-size: 14px;
	font-family: 'FontAwesome';
	content: '\f002';
}
.page-content .news-events-blog .events-side-panel .find-on-map {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0 20px;
}
.page-content .news-events-blog .events-side-panel .find-on-map h5 {
	padding: 20px 0 10px 0;
	margin: 0;
}
/* side panel search */
.search-keyword {
	position: relative;
	margin: 0;
	padding: 20px 25px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.search-keyword input[type="text"] {
	margin: 0;
	padding: 3px 15px;
	width: 100%;
	height: 30px;
	outline: 0;
	color: #333;
	font-size: 14px;
	border: 1px solid #ccc;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
	background: #fff;
	line-height: 24px;
}
.search-keyword button[type="submit"] {
	position: absolute;
	top: 20px;
	right: 20px;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	outline: 0;
	border: 1px solid #ccc;
	border-left: none;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
	background: #fff;
	color: #e00000;
	font-size: 14px;
	font-family: 'FontAwesome';
	content: '\f002';
}
/* blog list */
/* ====================================================== */
.page-content .blog-side-panel .widget {
	width: 100%;
	background-color: #f3f3f3;
	padding: 20px;
}
.page-content .blog-side-panel .widget h4,
footer .widget h4 {
	color: #423338;
	font-size: 20px;
	margin: 0;
	padding: 0 0 25px 0;
	font-weight: bold;
}
.page-content .blog-side-panel .widget ul,
footer .widget ul {
	width: 100%;
	margin: 0;
	position: relative;
}
.page-content .blog-side-panel .widget ul li,
footer .widget ul li  {
	position: relative;
	margin: 0;
	padding: 11px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.page-content .blog-side-panel .widget ul li a:hover,
footer .widget ul li a:hover {
	color: #666;
}
.page-content .news-events-blog .blog-side-panel {
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 0px;
	border-radius: 4px;
}
.page-content .news-events-blog .blog-side-panel .search-keyword {
	position: relative;
	margin: 0;
	padding: 0 20px;
	border: none;
}
.page-content .news-events-blog .blog-side-panel .search-keyword input[type="text"] {
	margin: 0;
	padding: 3px 15px;
	width: 99%;
	height: 30px;
	outline: 0;
	color: #333;
	font-size: 14px;
	border: 1px solid #ccc;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
	background: #fff;
	line-height: 24px;
}
.page-content .news-events-blog .blog-side-panel .search-keyword button[type="submit"] {
	position: absolute;
	top: 0px;
	right: 18px;
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	outline: 0;
	border: 1px solid #ccc;
	border-left: none;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
	background: #fff;
	color: #e00000;
	font-size: 14px;
	font-family: 'FontAwesome';
	content: '\f002';
}
.page-content .news-events-blog .blog-side-panel .widget {
}

.page-content .news-events-blog .blog-side-panel .widget h5 {
	padding: 20px 0 5px 0;
	margin: 0;
}
.page-content .news-events-blog .blog-side-panel .widget > .blog-latest {
	position: relative;
	width: 100%;
	height: auto;
	padding: 15px 0;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.page-content .news-events-blog .blog-side-panel .widget .blog-latest:last-child {
	border-bottom: none;
}
.page-content .news-events-blog .blog-side-panel .widget .blog-latest img {
	height: 85px;
	width: 100%;
	border-radius: 4px;
}
.page-content .news-events-blog .blog-side-panel .widget .blog-latest h5 {
	margin: 0;
	padding: 0;
	padding-bottom: 6px;
	font-size: 16px;
}
.widget a:hover {
	color: #666;
}
.page-content .news-events-blog .blog-side-panel .widget .blog-latest .bl-sort {
	color: #999;
	margin: 0;
}
.page-content .news-events-blog .blog-side-panel .widget .blog-latest .col-md-8 {
	padding-left: 0;
}
.page-content .news-events-blog .blog-side-panel .tag {
	padding: 0 20px;
}
.page-content .news-events-blog .blog-side-panel .tag h5 {
	padding: 20px 0 10px 0;
	margin: 0;
}
.page-content .news-events-blog .blog-side-panel .tag ul li {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
}
.page-content .news-events-blog .blog-side-panel .tag ul li a {
	border: 1px solid #d9d9d9;
	padding: 5px 10px;
	font-size: 14px;
	display: inline-block;
	border-radius: 4px;
}
.page-content .news-events-blog .blog-side-panel .tag ul li a:hover {
	border-color: #bf2424;
	background: #bf2424;
	color: #fff;
}
/* blog-list image */
.page-content .blog-list-img {
	position: relative;
	width: 100%;
	height: 170px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-content .blog-list-img img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.page-content .pagination {
	position: relative;
	width: 100%;
	height: 40px;
	float: left;
	margin-bottom: 0;
}
.page-content .pagination ul li {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.page-content .pagination ul li a {
	color: #343434;
	padding-left: 5px;
	line-height: 30px;
	border-radius: 4px;
	height: 30px;
	width: 30px;
	background: #f5f5f5;
	display: inline-block;
	padding: 0px;
	border-radius: 4px !important;
}
.page-content .pagination ul li a:hover {
	background: #bf2424;
	color: #fff;
}
.page-content .pagination ul li.active a {
	background: #bf2424;
	color: #fff;
}
/* blog-post page  */
/* ====================================================== */
.page-content .no-dish-side .blog-post-img {
	position: relative;
	width: 1130px;
	height: 500px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-content .no-dish-side .blog-post-img img {
	width: 100%;
	height: 100%;
}
.page-content .news-events-blog .blog-post {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0px 0px 0px 0px;
	text-align: left;
}
.page-content .blog-post-img {
	position: relative;
	width: 800px;
	height: 350px;
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-content .blog-post-img img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.page-content .news-events-blog .blog-post h4, .ml-title {
	margin: 0;
	padding: 30px 0 20px 0;
	font-weight: bold;
}
.ml-title {
	font-size: 30px;
	/*margin-left: 15px;*/
}
.blog-post h4 a {
	color: #423338;
}
.blog-post h4 a:hover {
	color: #666;
}
.page-content .news-events-blog .blog-post p {
	margin: 0;
	padding: 10px 0;
	color: #423338;
}
.page-content .news-events-blog .blog-post .tag-list {
	padding-top: 0px;
}
.page-content .news-events-blog .blog-post .about-author {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 6px 0;
	border-top: 1px solid #d9d9d9;
	position: relative;
}
.page-content .news-events-blog .blog-post .about-author ul li {
	margin-right: 63px;
	margin-bottom:0;
}
.page-content .news-events-blog .blog-post .about-author ul li a:hover {
	color: #666;
	text-decoration: underline;
}
.page-content .news-events-blog .blog-post .about-author ul li:last-child {
	margin-right: 0;
}
.page-content .news-events-blog .blog-post .about-author ul li span {
	padding: 0 4px;
}
.page-content .news-events-blog .blog-post .about-author .bl-sort {
	color: #999;
}
.page-content .news-events-blog .blog-post .about-author .fa {
	padding-right: 7px;
}
.page-content .news-events-blog .blog-post .share-this {
	width: 100%;
	height: auto;
	margin: 0 0 10px 0;
	padding: 2px 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	display: block;
}
.page-content .news-events-blog .blog-post .share-this p {
	float: left;
	padding: 3px 0;
}
.page-content .news-events-blog .blog-post .share-this ul {
	color: #999;
	font-size: 14px;
	margin: 0;
}
.page-content .news-events-blog .blog-post .share-this ul li {
	margin-left: 14px;
	padding: 0;
	padding: 3px 0;
	font-size: 18px;
	margin-bottom:0;
}
.page-content .news-events-blog .blog-post .share-this ul li a {
	color: #343434;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.page-content .news-events-blog .blog-post .share-this ul li a:hover {
	color: #e00000;
}
.page-content .news-events-blog .blog-post .tag {
	padding: 20px 0 10px 0;
	border-bottom: 1px solid #d9d9d9;
}
.page-content .news-events-blog .blog-post .tag ul li {
	margin: 0 8px 8px 0;
	padding: 7px 0;
}
.page-content .news-events-blog .blog-post p strong {
	display: block;
}
.page-content .news-events-blog .blog-post .tag ul li a {
	border: 1px solid #d9d9d9;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 6px;
}
.page-content .news-events-blog .blog-post .comment-section p {
	margin: 0;
	padding: 0 0 10px 0;
}
.comment-section a:hover {
	color: #666 !important;
	text-decoration: underline;
}
.page-content .news-events-blog .blog-post .comment-section p:last-child {
	padding: 0;
	color: #999;
}
.blog-post iframe{max-width:100%;}
/* dish page */
/* ====================================================== */
.page-content .dish-side-panel {
	width: 100%;
	background-color: #f3f3f3;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	border-radius: 6px;
	border: 1px solid #ccc;
}
.page-content .dish-side-panel .categories {
	width: 100%;
	background-color: #f3f3f3;
	padding: 0 20px 20px 20px;
}
.page-content .dish-side-panel .categories h4 {
	color: #423338;
	font-size: 20px;
	margin: 0;
	padding: 0 0 25px 0;
	font-weight: bold;
}
.page-content .dish-side-panel .categories ul {
	width: 100%;
	margin: 0;
	position: relative;
}
.page-content .dish-side-panel .categories ul li {
	position: relative;
	margin: 0;
	padding: 11px 0;
	border-top: 1px solid #ccc;
}
.page-content .dish-side-panel .categories ul li a {
	text-transform: capitalize;
}
.page-content .dish-side-panel .categories ul li:last-child {
	border-bottom: 1px solid #ccc;
}
.page-content .comment-section {
	padding: 50px 0 30px 0;
}
/* comment section */
.page-content .comment-section > h5 {
	margin: 0;
	padding-bottom: 20px;
	font-size: 20px;
	color: #423338;
}
.page-content .comment-section img {
	width: 100%;
	height: 100px;
	border-radius: 5px;
}
.page-content .comment-section .name {
	color: #423338;
	font-weight: bold;
}
.page-content .comment-section .date-time {
	color: #999;
	padding-right: 5px;
}
.page-content .comment-section p {
	padding: 0;
	margin: 0;
}
.page-content .comment-section .pad-btm {
	padding-bottom: 20px;
	margin-bottom:0;
}
.page-content .comment-section .pad-btm:last-child{
	padding-bottom:0;
}
.page-content .comment-section p a,
.blog-post p a {
	color: #c7254e;
}
.page-content .comment-section p:first-child {
	padding-bottom: 20px;
}
.page-content .comment-section p:last-child {
	color: #999;
}
.page-content .comment-respond {
	background-color: #f5f5f5;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 4px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.page-content .comment-respond .col-md-4 {
	padding-right: 0;
}
.page-content .comment-respond .col-md-4:last-child {
	padding-right: 15px;
}
.page-content .comment-respond h3 {
	margin: 0;
	color: #423338;
    font-size: 20px;
	padding-bottom: 20px;
}
.single-comment:after{
	content:'';
	display:block;
	clear:both;
}
.comment .children{
	margin-top:20px;
}
.commentlist > .comment {
	padding-left:0;
}

@media(max-width:767px){
	.comment .avatar,
	.comment .commenttext{
		float:none;
		width:100%;
	}
	.page-content .comment-section img{
		width:auto;
		margin-bottom:15px;
	}
	.page-content .comment-section .children .pad-btm{
		margin-left:0;
		margin-right:0;
	}
}
/* leave reply */
.page-content .comment-respond form input {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 5px 5px 5px 10px;
	outline: none;
}
.page-content .comment-respond form textarea {
	width: 100%;
	min-height: 160px;
	resize: none;
	border-radius: 3px;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px 15px;
	margin-bottom: 10px;
}
.page-content .comment-respond form input[type="submit"],
.page-content .comment-respond form button {
	background: none;
	color: #e00000;
	border: 1px solid #e00000;
	border-radius: 3px;
	padding: 5px 15px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.page-content .comment-respond form input[type="submit"] .fa,
.page-content .comment-respond form button .fa {
	padding-right: 3px;
}
.page-content .comment-respond form input[type="submit"]:hover,
.page-content .comment-respond form button:hover {
	color: #fff;
	background: #e00000;
}

.navigation.pagination .next,.navigation.pagination .prev {
	display: none;
}

.navigation.pagination {
	text-align: center;
}

.navigation.pagination a, .navigation.pagination span {
	    color: #343434;
    padding-left: 5px;
    line-height: 30px;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    background: #f5f5f5;
    display: inline-block;
    padding: 0px;
    border-radius: 4px !important;
    font-size: 12px;
    margin: 2px;
}

.navigation.pagination span, .navigation.pagination a:hover {
    background: #bf2424;
    color: #fff;
}
.page-cover-bg { position: relative; }
.overlay-clr {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.wpb_revslider_element.wpb_content_element{
	margin-bottom:0;
}

/*widget*/
.widget img{
	max-width:100%;
}
footer .widget{
	margin-bottom:40px;
}
footer .widget .title{
	color:#fff;
}
footer .widget,
footer .widget  a{
	color: #999999;
}
.widget select{
	max-width:100%;
}
footer .widget ul li a:hover{
	color:#fff;
}
footer .widget ul li{
	border-bottom: 1px solid rgba(153,153,153,0.1);
}


/*top bar*/
.top-bar .left-content{
	float:left;
}
.top-bar .right-content{
	float:right;
	}
.top-nav{
	display:inline-block;
}
.top-nav li{
	display:inline-block;
	margin-right:5px;
	padding:0;
	margin-bottom:0;
}
.top-nav li:last-child{
	margin-right:0;
}

.top-bar .social-icons{
	display:inline-block;
	margin-top:0px;
}
.top-bar .social-icons li{
	display:inline-block;
	padding:0;
	margin-bottom:0;
}
.top-bar .social-icons a{
	font-size:14px;
	color: #e1aaaa;
	margin: 0px 6px;
}
.top-bar .social-icons a:hover{
	color:#fff;
}
.top-bar .social-icons .fa{
	margin-right:0;
}
.top-bar .left-content > *,
.top-bar .right-content > *{
    font-size: 18px;
    font-family: 'Josefin Sans';
    color: #fff;
    line-height: 40px;
    font-style: italic;
    font-weight: bold;
}
.top-bar .left-content > *{
    padding-right: 15px;
	margin-right:15px;
    border-right: 1px solid rgba(255,255,255,0.2);	
}
.top-bar .left-content > *:last-child{
    padding-right: 0;
	margin-right:0;
    border-right: none;		
}
.top-bar .right-content > *{
    padding-left: 15px;
	margin-left:15px;
    border-left: 1px solid rgba(255,255,255,0.2);	
}
.top-bar .right-content > *:first-child{
    padding-left: 0;
	margin-left:0;
    border-left: none;		
}
.top-bar a{
	color:#fff;
}
.top-bar a:hover{
	color: #e1aaaa;
}
.top-bar .fa{
	margin-right:10px;
}
@media(max-width:991px){
	.top-bar .left-content > *, .top-bar .right-content > *{
		font-size: 14px;
	}
	.top-bar .left-content > *{
		padding-right: 10px;
		margin-right: 10px;
	}
	.top-bar .right-content > *{
		padding-left: 10px;
		margin-left: 10px;		
	}
}

/*hero block*/
.page-cover-tittle{
	position:relative;
	font-size:18px;
	color:#fff;
	z-index:1;
}

/*newsletter-form*/
.newsletter-form  .btn-subscribe{
	font-size:0;
}
.newsletter-form  .btn-subscribe .fa:before{
	content: "\f003";
	font-size:20px;
}

/*step*/
#estimation_popup.wpe_bootstraped[data-form="3"]   a.btn-primary,
#estimation_popup.wpe_bootstraped[data-form="3"] a.linkPrevious:not(.btn){
	font-family: 'Josefin Sans';
    font-size: 14px;
	line-height: 38px;
	font-weight: bold;
	height: 40px;
    padding: 0px 20px;
	background:transparent;
    border:1px solid #bf2424;
	border-radius: 50px;
    color: #bf2424;
	text-transform:uppercase;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#estimation_popup.wpe_bootstraped[data-form="3"] a.linkPrevious{
	display:inline-block!important;
}
#estimation_popup.wpe_bootstraped[data-form="3"]   a.btn-primary:hover,
#estimation_popup.wpe_bootstraped[data-form="3"] a.linkPrevious:not(.btn):hover{
    background: #bf2424;
    color: #fff;
	opacity:1;
}
#estimation_popup.wpe_bootstraped .genPrice .progress div.progress-bar-price{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#estimation_popup.wpe_bootstraped[data-form="3"]    div.genPrice .progress .progress-bar-price{
	background: #bf2424;
}
#estimation_popup.wpe_bootstraped[data-form="3"]   div#mainPanel{
	background:transparent;
}
#estimation_popup.wpe_bootstraped #mainPanel .genSlide h2.stepTitle{
	font-family: 'Alex Brush';
	font-size: 48px;
	line-height: 48px;
	font-weight: normal;
	color: #bf2424;
	text-transform: initial;
}
#estimation_popup.wpe_bootstraped[data-form="3"] p.lfb_stepDescription,
#estimation_popup.wpe_bootstraped .form-group  label{
	font-family: 'Josefin Sans';
	font-size: 18px;
	font-weight: bold;
    color: #252525;
}
#estimation_popup.wpe_bootstraped #mainPanel .form-group input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]){
	width: 150px;
	height: 60px;
	border-radius: 30px;
	text-align: center;
	border: 1px solid #cccccc;
	margin: 0 auto;
	font-family: 'Open Sans';
	font-size:14px;
	font-weight: bold;
	color:#333333;
}
#estimation_popup.wpe_bootstraped #mainPanel .genSlide{
	border-bottom: 1px solid #cccccc;
}
#estimation_popup.wpe_bootstraped .linkPrevious{
	margin-top:15px
}
#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent .itemBloc{
	width: 33.333333333333%;
}
#estimation_popup.wpe_bootstraped[data-form="3"]   #mainPanel .genSlide .genContent .itemBloc div.selectable img{
	max-width: 100%;
    max-height: 100%;
}
#estimation_popup.wpe_bootstraped[data-form="3"] p.itemDes{
	max-width:100%;
}
#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent p.itemDes{
	font-family: 'Josefin Sans';
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
}

#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable span.icon_select{
    position: relative;
    right: 0;
	margin:15px auto 0 auto;
}
#estimation_popup.wpe_bootstraped[data-form="3"] div.progress-bar{
	background:#bf2424;
}
#estimation_popup.wpe_bootstraped[data-form="3"] #mainPanel h3#finalPrice{
	color:#bf2424;
}

#estimation_popup.wpe_bootstraped[data-form="3"] .form-group .has-switch span.switch-left{
	background:#bf2424!important;
}
#estimation_popup.wpe_bootstraped[data-form="3"] .form-group .has-switch > div.switch-on label{
	border-color: #bf2424;
}
#estimation_popup.wpe_bootstraped  span.palette-clouds{
	background:#fff;
	border: 1px solid #cccccc;
}
#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent div.selectable span.palette-clouds.icon_select{
	line-height: 28px;
}
#estimation_popup.wpe_bootstraped[data-form="3"]   textarea.form-control:focus{
	border-color: #bf2424;
}
#estimation_popup.wpe_bootstraped[data-form="3"]  .tooltip div.tooltip-inner{
	background:#bf2424;
}
#estimation_popup.wpe_bootstraped[data-form="3"]   .tooltip.bottom div.tooltip-arrow{
	border-bottom-color: #bf2424;
}

#estimation_popup.wpe_bootstraped[data-form="3"] div#lfb_loader{
	background:#bf2424;
}
@media(max-width:767px){
	#estimation_popup.wpe_bootstraped #mainPanel .genSlide .genContent .itemBloc{
		width:100%;
		margin-bottom: 0;
	}
}


.scrollup {
    background-color: #BF2424;
    background-image: url("../../images/to-top.png");
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 15px;
    display: none;
    height: 40px;
    outline: medium none;
    position: fixed;
    right: 15px;
    text-indent: -9999px;
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 999997;
}
.scrollup:hover{opacity: .6;transition: opacity 0.2s linear 0s; }

/* remove all the bullets, borders and padding from the default list styling */
#lang_sel {
  height: 32px;
  position: relative;
  font-family: verdana, arial, sans-serif;
  display: inline-block;
  /* style the table so that it takes no part in the layout - required for IE to work */
  /* style the top level hover */
}
#lang_sel ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important;
  /* hide the sub levels and give them a positon absolute so that they take up no room */
}
#lang_sel ul li:hover ul, #lang_sel ul a:hover ul {
  visibility: visible;
}
#lang_sel ul ul {
  width: 149px;
  visibility: hidden;
  position: absolute;
  height: 0;
  top: 25px;
  left: 0;
  border-top: 1px solid #cdcdcd;
}
#lang_sel ul ul a {
  background: #ffffff;
  color: #444444;
  height: auto;
  line-height: 1em;
  padding: 5px 10px;
  border-width: 0 1px 1px 1px;
}
#lang_sel ul ul a:visited {
  background: #ffffff;
  color: #444444;
  height: auto;
  line-height: 1em;
  padding: 5px 10px;
  border-width: 0 1px 1px 1px;
}
#lang_sel li {
  float: left;
  width: 149px;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important;
}
#lang_sel li:before {
  content: '' !important;
}
#lang_sel a {
  display: block;
  font-size: 11px;
  text-decoration: none !important;
  color: #444444;
  border: 1px solid #cdcdcd;
  background: #fff;
  padding-left: 10px;
  line-height: 24px;
}
#lang_sel a:visited {
  display: block;
  font-size: 11px;
  text-decoration: none !important;
  color: #444444;
  border: 1px solid #cdcdcd;
  background: #fff;
  padding-left: 10px;
  line-height: 24px;
}
#lang_sel a.lang_sel_sel {
  color: #444;
}
#lang_sel a.lang_sel_sel:hover {
  text-decoration: none;
  color: #000;
}
#lang_sel table {
  position: absolute;
  top: 0;
  left: 0;
  border-collapse: collapse;
}
#lang_sel a:hover, #lang_sel ul ul a:hover, #lang_sel :hover > a, #lang_sel ul ul :hover > a {
  color: #000;
  background: #eee;
}
#lang_sel img.iclflag {
  width: 18px;
  height: 12px;
  position: relative;
  top: 1px;
}
#lang_sel.icl_rtl {
  text-align: right;
  direction: rtl;
}
#lang_sel.icl_rtl .lang_sel_sel {
  padding-right: 14px;
}

/* make the second level visible when hover on first level list OR link */
#lang_sel_footer {
  margin: 0;
  padding: 7px;
  text-align: center;
  font: 11px Verdana, sans-serif;
  min-height: 15px;
  clear: both;
  background-color: #fff;
  border: 1px solid #cdcdcd;
}
#lang_sel_footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#lang_sel_footer ul li {
  display: inline;
  margin: 0 1px 0 0;
  padding: 0;
  white-space: nowrap;
  line-height: 25px;
}
#lang_sel_footer ul li img {
  position: relative;
  top: 1px;
  width: 18px;
  height: 12px;
}
#lang_sel_footer ul li a {
  text-decoration: none;
  padding: 5px 10px;
}
#lang_sel_footer ul li a:visited {
  text-decoration: none;
  padding: 5px 10px;
}

#wpml_credit_footer {
  width: 100%;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  font-size: 11px;
}

/* remove all the bullets, borders and padding from the default list styling */
#lang_sel_list {
  height: 32px;
  position: relative;
  z-index: 99;
  font-family: verdana, arial, sans-serif;
  /* style the table so that it takes no ppart in the layout - required for IE to work */
}
#lang_sel_list ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important;
}
#lang_sel_list ul li:hover ul, #lang_sel_list ul a:hover ul {
  visibility: visible;
}
#lang_sel_list ul.lang_sel_list_vertical {
  width: 149px;
}
#lang_sel_list ul a {
  background: #ffffff;
  color: #444444;
  height: auto;
  line-height: 1em;
}
#lang_sel_list li {
  float: left;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  list-style-type: none !important;
}
#lang_sel_list li:before {
  content: '' !important;
}
#lang_sel_list a {
  display: block;
  font-size: 11px;
  text-decoration: none !important;
  color: #444444;
  background: #fff;
  line-height: 18px;
  padding-left: 5px;
}
#lang_sel_list a:visited {
  display: block;
  font-size: 11px;
  text-decoration: none !important;
  color: #444444;
  background: #fff;
  line-height: 18px;
  padding-left: 5px;
}
#lang_sel_list a.lang_sel_sel {
  background-image: none;
  color: #444;
}
#lang_sel_list a.lang_sel_sel:hover {
  text-decoration: none;
  color: #000;
}
#lang_sel_list.lang_sel_list_vertical {
  width: 149px;
  /* hide the sub levels and give them a positon absolute so that they take up no room */
}
#lang_sel_list.lang_sel_list_vertical ul {
  /*visibility:hidden;position:absolute;*/
  height: 0;
  top: 19px;
  left: 0;
  border-top: 1px solid #cdcdcd;
}
#lang_sel_list.lang_sel_list_vertical ul a {
  padding: 3px 10px;
}
#lang_sel_list.lang_sel_list_vertical li {
  width: 149px;
}
#lang_sel_list.lang_sel_list_vertical a {
  border: 1px solid #cdcdcd;
  border-top-width: 0;
  padding-left: 10px;
}
#lang_sel_list.lang_sel_list_vertical a:visited {
  border: 1px solid #cdcdcd;
  border-top-width: 0;
  padding-left: 10px;
}
#lang_sel_list table {
  position: absolute;
  top: 0;
  left: 0;
  border-collapse: collapse;
}
#lang_sel_list img.iclflag {
  width: 18px;
  height: 12px;
  position: relative;
  top: 1px;
}

/* style the second level links */
#lang_sel_list_list ul a:visited {
  background: #ffffff;
  color: #444444;
  height: auto;
  line-height: 1em;
  padding: 3px 10px;
}

/* reset menu img definitions */
.menu-item-language img.iclflag {
  height: 12px !important;
  width: 18px !important;
  margin-bottom: 0 !important;
  margin-right: 4px;
}
/* EOF */

